<div class="toolbar" role="banner">
    <nav class="navbar navbar-dark bg-dark" style="display: inline-flex;">
      <button class="btn btn-primary home-tab-button" type="submit" mdbRipple> WITX</button>
      <button class="btn btn-primary home-tab-button" type="submit" mdbRipple> Events</button>
      <button class="btn btn-primary home-tab-button" type="submit" mdbRipple> Registration</button>
      <button class="btn btn-primary home-tab-button" type="submit" mdbRipple> Schedule</button>
      <button class="btn btn-primary home-tab-button" type="submit" mdbRipple> Sponsors</button>
      <button class="btn btn-primary home-tab-button" type="submit" mdbRipple> Team</button>
  
    </nav>
      <div class="spacer"></div>
  </div>