body {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #fff;
}

.logo {
  width: 10%;
}
header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav a {
  color: #0072B5; /* The blue we derived from your logo */
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background-color: #f5f5f5;
}

.hero-section {
  background-image: url('./assets/img/witx-header.JPG');
  background-size: cover;
  height: 600px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section-header {
  font-family: "Lucida Sans", sans-serif;
  font-size: 50px;
  font-style: italic;
  color: #fff;
  text-shadow: 2px 3px 3px #222;
  display: inline-block;
  padding-right: 85%;
  padding-top: 35%;
}
.footer {
  background-color: #f5f5f5;
}

.footer a {
  color: #0072B5;
}

.button {
  background-color: #0072B5;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.button:hover {
  background-color: #005387;
}


